<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoPhp UI</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" v-scope v-cloak>
    <div class="row" style="margin-top: 10px">
        <div :class="codeClass">
            <div style="margin-top: 10px; margin-bottom: 10px">
                <input
                        v-for="(re, reIdx) in result"
                        type="button" class="btn" :class="btnClass(reIdx)" @click="toggleShow(reIdx)"
                        :value="re.type"
                        style="margin-right:10px"
                />
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="20" v-model="code" @input="codeChange"></textarea>
                <div class="card-body">
                    <span style="color: red">{{ error }}</span>
                </div>
            </div>
        </div>
        <div v-for="(re, reIdx) in result" :class="showClass" v-show="isShow(reIdx)">
            <div class="card" style="height: 100vh">
                <span style="margin: 5px 0 0 10px; font-weight: bold;">{{ re.type }}</span>
                <pre style="margin: 0; padding: 1rem 0; height: 100vh;">{{ re.content }}</pre>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/petite-vue/0.4.1/petite-vue.iife.min.js"></script>
<script>
    // storage
    const storageKey = "code"
    let initCode = localStorage.getItem(storageKey)
    if (!initCode) {
        initCode = "<?php\n\n"
    }

    const storageShowModeKey = "showMode"
    let initShowMode = localStorage.getItem(storageShowModeKey)
    if (!initShowMode) {
        initShowMode = -1
    }

    // App
    const apiUri = "/api"
    const app = window.app = {
        code: initCode,
        oldCode: "",
        error: "",
        // 记录隐藏的窗口
        showMode: initShowMode,
        // 处理结果
        result: [],
        // 展示中的结果类型数
        get showCount() {
            let count = 0
            for (idx in this.result) {
                if (this.isShow(idx)) {
                    count++
                }
            }
            return count
        },
        toggleShow(idx) {
            this.showMode ^= (1 << idx)
            localStorage.setItem(storageShowModeKey, this.showMode)
        },
        isShow(idx) {
            return (this.showMode & (1 << idx)) !== 0
        },
        btnClass(idx) {
            if (this.isShow(idx)) {
                return "btn-primary"
            } else {
                return "btn-secondary"
            }
        },
        get codeClass() {
            switch (this.showCount) {
                case 0:
                    return "col-sm-12"
                case 1:
                    return "col-sm-4"
                case 2:
                    return "col-sm-4"
                default:
                    return "col-sm-3"
            }
        },
        get showClass() {
            switch (this.showCount) {
                case 1:
                    return "col-sm-8"
                case 2:
                    return "col-sm-4"
                default:
                    return "col-sm-3"
            }
        },
        codeChange() {
            localStorage.setItem(storageKey, this.code)
            this.refresh()
        },
        refresh() {
            // console.log({code:this.code, oldCode:this.oldCode})
            if (this.code === this.oldCode) {
                return
            }

            const code = this.code
            postJson(apiUri, {input: code}, (res) => {
                // 确认文本内容没变才更新
                if (this.code !== code) {
                    return
                }

                // 更新数据
                this.oldCode = code
                this.error = res.error
                if (res.code === 0) {
                    this.result = res.data.result
                }
            }, () => {
                this.error = "请求失败，确认服务是否可用"
            })
        }
    }
    PetiteVue.createApp(app).mount()

    app.refresh()

    function postJson(url, data, success, onError) {
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: success,
            error: onError,
            dataType: "json"
        })
    }
</script>
</body>
</html>