<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoPhp UI</title>
    <link href="/static/css/bootstrap-4.6.2.min.css" rel="stylesheet">
    <style>
        .changed {
            animation: changed 2s;
        }

        @keyframes changed {
            from {
                background-color: #FFFF50;
            }
            to {
                background-color: inherit;
            }
        }
    </style>
</head>
<body>
<div class="container-fluid" v-scope v-cloak>
    <div class="row" style="margin-top: 10px">
        <div :class="codeClass()">
            <div style="margin-top: 10px; margin-bottom: 10px">
                <input
                        v-for="(re, reIdx) in result"
                        type="button" class="btn" :class="btnClass(reIdx)" @click="toggleShow(reIdx)"
                        :value="re.type"
                        style="margin-right:10px"
                />
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="auto-refresh-switch" :value="autoRefresh"
                           @change="toggleAutoRefresh">
                    <label class="custom-control-label" for="auto-refresh-switch">定时自动更新</label>
                </div>
                <textarea class="form-control" rows="20" v-model="code" @input="codeChange"></textarea>
                <div class="card-body">
                    <span style="color: red">{{ error }}</span>
                </div>
            </div>
        </div>
        <div v-for="(re, reIdx) in result" :class="showClass()" v-show="isShow(reIdx)">
            <div class="card" style="height: 100vh" :class="isRecentlyChanged(reIdx) ? 'changed' : ''">
                <span style="margin: 5px 0 0 10px; font-weight: bold;">{{ re.type }}</span>
                <pre style="margin: 0; padding: 1rem 0; height: 100vh;">{{ re.content }}</pre>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery-3.6.3.js"></script>
<script src="/static/js/petite-vue-0.4.1.iife.min.js"></script>
<script src="/static/js/qs-6.11.2.min.js"></script>
<script src="/static/js/tools.js"></script>
<script>
    // storage
    let initCode = getQueryParam("code") || "<?php\n\n"
    let initShowMode = getQueryParam("mode") || 0b11100

    // App
    const apiUri = "/api"
    const app = window.app = {
        code: initCode,
        oldCode: "",
        error: "",
        // 定时自动刷新开关
        autoRefresh: false,
        autoRefreshId: 0,
        // 记录隐藏的窗口
        showMode: initShowMode,
        // 处理结果
        result: [],
        // 最近一次的修改时间，超过一段时间会清空
        recentlyChanged: 0,
        // 各结果的最后更新时间
        lastChanged: [],
        // 展示中的结果类型数
        get showCount() {
            let count = 0
            for (idx in this.result) {
                if (this.isShow(idx)) {
                    count++
                }
            }
            return count
        },
        toggleShow(idx) {
            this.showMode ^= (1 << idx)
            this.queryChange()
        },
        isShow(idx) {
            return (this.showMode & (1 << idx)) !== 0
        },
        toggleAutoRefresh() {
            if (this.autoRefresh) {
                this.autoRefresh = false
                clearInterval(this.autoRefreshId)
            } else {
                this.autoRefresh = true
                this.autoRefreshId = setInterval(() => {
                    this.refresh(true)
                }, 2000)
            }
        },
        btnClass(idx) {
            if (this.isShow(idx)) {
                return "btn-primary"
            } else {
                return "btn-secondary"
            }
        },
        codeClass() {
            switch (this.showCount) {
                case 0:
                    return "col-sm-12"
                case 1:
                    return "col-sm-4"
                case 2:
                    return "col-sm-4"
                default:
                    return "col-sm-3"
            }
        },
        showClass() {
            switch (this.showCount) {
                case 1:
                    return "col-sm-8"
                case 2:
                    return "col-sm-4"
                default:
                    return "col-sm-3"
            }
        },
        codeChange() {
            this.queryChange()
            this.refresh()
        },
        queryChange() {
            const query = getQuery()
            query.code = this.code
            query.mode = this.showMode
            setQuery(query)
        },
        updateResult(result) {
            const oldResult = this.result
            this.result = result

            // 设置最近更新时间，并在一定时间后清除
            if (this.recentlyChanged === 0) {
                const changeTime = (new Date()).getTime()
                this.recentlyChanged = changeTime
                setTimeout(() => {
                    if (this.recentlyChanged === changeTime) {
                        this.recentlyChanged = 0
                    }
                }, 2000)
            }

            const now = new Date()
            for (const i in result) {
                const isSame = oldResult[i] && result[i].content === oldResult[i].content
                this.lastChanged[i] = !isSame
            }
        },
        isRecentlyChanged(idx) {
            return this.recentlyChanged && this.lastChanged[idx]
        },
        refresh(force) {
            // console.log({code:this.code, oldCode:this.oldCode})
            if (!force && this.code === this.oldCode) {
                return
            }

            const code = this.code
            postJson(apiUri, {input: code}, (res) => {
                // 确认文本内容没变才更新
                if (this.code !== code) {
                    return
                }

                // 更新数据
                this.oldCode = code
                this.error = res.error
                if (res.code === 0) {
                    this.updateResult(res.data.result)
                }
            }, () => {
                this.error = "请求失败，确认服务是否可用"
            })
        }
    }
    PetiteVue.createApp(app).mount()

    app.refresh()

    function postJson(url, data, success, onError) {
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: success,
            error: onError,
            dataType: "json"
        })
    }
</script>
</body>
</html>