<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoPhp UI</title>
    <link href="/static/css/bootstrap-4.6.2.min.css" rel="stylesheet">
    <style>
        .test-active {
            font-weight: bold;
        }

        .test-list {
            height: 100vh;
            overflow-y: scroll;
        }

        .test-list::-webkit-scrollbar {
            display: none;
        }

        .cell-name {
            max-width: 200px;
            overflow-x: scroll;
        }

        .cell-name::-webkit-scrollbar {
            display: none;
        }

        .btn-small {
            padding-top: 0;
            padding-bottom: 0;
        }
    </style>
</head>
<body>
<div class="container-fluid" v-scope v-cloak>
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-4 test-list">
            <div>
                <span class="custom-control custom-control-inline custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="hidePass">
                    <label class="custom-control-label" for="customSwitch1">Hide Pass</label>
                </span>
                <span class="custom-control custom-control-inline custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2" v-model="hideSkip">
                    <label class="custom-control-label" for="customSwitch2">Hide Skip</label>
                </span>
                <span class="custom-control custom-control-inline custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" v-model="sortResult">
                    <label class="custom-control-label" for="customSwitch3">Sort Result</label>
                </span>
            </div>
            <div>
                <span>{{statLine()}}</span>
            </div>
            <table class="table table-sm table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>name</th>
                    <th>status</th>
                    <th>herf</th>
                </tr>
                <tr v-for="test in showTests" :class="testShowClass(test.idx)" @click="activeTest(test.idx)"
                    v-show="testIsShow(test.idx)" :key="test.idx">
                    <td>{{test.idx + offset}}</td>
                    <td class="cell-name">{{test.name}}</td>
                    <td>{{test.status}}</td>
                    <td>
                        <button class="btn btn-link btn-small" @click="gotoShowPage(test.idx)">detail</button>
                        <button class="btn btn-link btn-small" @click="runTest(test.idx)">retry</button>
                        <button class="btn btn-link btn-small" @click="copyTestName(test.idx)">paste</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-8">
            <div class="card" style="height: 100vh">
                <pre style="margin: 0; padding: 1rem 0; height: 100vh;">{{ currTest.content }}</pre>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery-3.6.3.js"></script>
<script src="/static/js/petite-vue-0.4.1.iife.min.js"></script>
<script src="/static/js/qs-6.11.2.min.js"></script>
<script src="/static/js/tools.js"></script>
<script>
    // App
    const testListUri = "/api/test/list"
    const testRunUri = "/api/test/run"

    // status
    const WAITING = 'WAIT'
    const RUNNING = 'RUNNING'
    const PASS = 'PASS'
    const SKIP = 'SKIP'
    const FAIL = 'FAIL'
    const NET_ERROR = 'NET'
    const StatusLevel = {
        WAITING: 1,
        RUNNING: 2,
        PASS: 3,
        SKIP: 4,
        NET_ERROR: 5,
        FAIL: 6,
    }

    const initQuery = getQuery()
    const app = window.app = {
        // query params
        path: getQueryParam("path") || "",
        offset: parseInt(getQueryParam("offset")) || 0,
        limit: parseInt(getQueryParam("limit")) || -1,
        // tests
        tests: [
            {
                name: "1231231.phpt",
                status: PASS,
                content: "111111",
                code: "",
            },
            {
                name: "1231231.phpt",
                status: FAIL,
                content: "2222222",
                code: "",
            },
            {
                name: "1231231.phpt",
                status: SKIP,
                content: "111111",
                code: "",
            },
            {
                name: "1231231.phpt",
                status: PASS,
                content: "2222222",
                code: "",
            },
        ],
        count: {
            [WAITING]: 0,
            [RUNNING]: 0,
            [PASS]: 0,
            [SKIP]: 0,
            [FAIL]: 0,
            [NET_ERROR]: 0,
        },
        activeIndex: -1,
        waitingIndex: 0,

        hidePass: Boolean(initQuery.hidePass),
        hideSkip: Boolean(initQuery.hideSkip),
        sortResult: Boolean(initQuery.sortResult),

        // 记录选项到 query
        queryChange() {
            const query = getQuery()
            if (this.hidePass) {
                query.hidePass = 1
            } else {
                delete query.hidePass
            }
            if (this.hideSkip) {
                query.hideSkip = 1
            } else {
                delete query.hideSkip
            }
            if (this.sortResult) {
                query.sortResult = 1
            } else {
                delete query.sortResult
            }
            setQuery(query)
        },
        // 当前选中的测试
        get showTests() {
            const showTests = [];
            for (let idx in this.tests) {
                showTests.push({
                    idx: parseInt(idx),
                    ...this.tests[idx],
                })
            }
            if (this.sortResult) {
                showTests.sort(function (test1, test2) {
                    const statusDiff = parseInt(StatusLevel[test1.status]) - parseInt(StatusLevel[test2.status])
                    if (statusDiff !== 0) {
                        return statusDiff
                    }
                    if (test1.content < test2.content) {
                        return -1
                    } else if (test1.content > test2.content) {
                        return 1
                    } else {
                        return test1.idx - test2.idx
                    }
                })
            }
            return showTests
        },
        get currTest() {
            return this.tests[this.activeIndex]
        },
        // 当前统计信息
        statLine() {
            return "total: " + this.tests.length +
                ", wait:" + this.count[WAITING] +
                ", pass:" + this.count[PASS] +
                ", skip:" + this.count[SKIP] +
                ", fail:" + this.count[FAIL] +
                ", net_err:" + this.count[NET_ERROR]
        },
        // 判断是否展示
        testIsShow(testIdx) {
            const test = this.tests[testIdx]
            if (!test) {
                return false
            }
            if (testIdx === this.activeIndex) {
                return true
            }
            if (this.hidePass && test.status === PASS) {
                return false
            }
            if (this.hideSkip && test.status === SKIP) {
                return false
            }
            return true
        },
        // 判断当前测试类
        testShowClass(testIdx) {
            const test = this.tests[testIdx]
            if (!test) {
                return ""
            }
            let classes = ""

            if (testIdx === this.activeIndex) {
                classes = "test-active "
            }
            if (test.status === PASS) {
                classes += "table-success"
            } else if (test.status === SKIP) {
                classes += "table-warning"
            } else if (test.status === FAIL) {
                classes += "table-danger"
            }
            return classes
        },
        // 点击具体case
        activeTest(testIdx) {
            this.activeIndex = testIdx
        },
        // 按钮事件
        testShowPage(testIdx) {
            const test = this.tests[testIdx]
            if (!test) {
                return ""
            }
            return "/?code=" + encodeURIComponent(test.code)
            // return "/?test=" + test.name + "&code=" + encodeURIComponent(test.code)
        },
        gotoShowPage(testIdx) {
            const url = this.testShowPage(testIdx)
            const newWindow = window.open(url)
            newWindow.focus()
        },
        // 复制case名
        copyTestName(testIdx) {
            const test = this.tests[testIdx]
            if (!test) {
                return ""
            }
            const p = clipboardWriteText(test.name)
            if (p) {
                p.then(function () {
                    console.log("copy success")
                }).catch(function () {
                    console.log("copy fail")
                })
            } else {
                console.log("copy unsupported")
            }
        },
        // start
        start() {
            // init list
            getJson(testListUri, {path: this.path, offset: this.offset, limit: this.limit}, (res) => {
                const tests = []
                for (let name of res.data) {
                    tests.push({
                        name: name,
                        status: WAITING,
                        content: "",
                        code: "",
                    })
                }
                this.tests = tests
                this.count[WAITING] = tests.length

                // 开始逐个处理case
                this.runNext()
            })
        },
        // running
        runNext() {
            while (this.count[RUNNING] < 10 && this.waitingIndex < this.tests.length) {
                const index = this.waitingIndex
                const test = this.tests[this.waitingIndex]
                this.waitingIndex++
                if (test.status !== WAITING) {
                    continue
                }
                this.runTest(index)
            }
        },
        updateTest(index, status, content) {
            const test = this.tests[index]
            if (!test) {
                return
            }
            if (test.status === status) {
                return
            }
            if ([WAITING, RUNNING, PASS, SKIP, FAIL, NET_ERROR].includes(test.status)) {
                this.count[test.status]--
            }
            if ([WAITING, RUNNING, PASS, SKIP, FAIL, NET_ERROR].includes(status)) {
                this.count[status]++
            }
            test.status = status
            test.content = content
        },
        runTest(index) {
            const test = this.tests[index]
            if (!test) {
                return
            }
            if (test.status === RUNNING) {
                return
            }
            this.updateTest(index, RUNNING, "running...")

            postJson(testRunUri, {name: test.name}, (res) => {
                if (res.code !== 0) {
                    this.updateTest(index, FAIL, "执行失败: error=" + res.error)
                    this.runNext()
                    return
                }

                this.updateTest(index, res.data.status, res.data.reason)
                const code = res.data.case.Sections.FILE
                if (code) {
                    test.code = code
                } else {
                    test.code = ""
                }
                this.runNext()
            }, () => {
                this.updateTest(index, NET_ERROR, "调用 url 失败")
                this.runNext()
            })
        },
    }
    PetiteVue.createApp(app).mount()

    setInterval(function () {
        app.queryChange()
    }, 500)

    app.start()

</script>
</body>
</html>